extends ../layout

block content
  .container
    h1.main-title= tour.title

    .tour.show
      include _tour

      .buttons
        button.btn.btn-primary #[i.fa.fa-thumbs-up] Like
        if currentUser && tour.author.id == currentUser.id
          | 
          a.btn.btn-outline-secondary(href=`/tours/${tour.id}/edit`) Edit
          | 
          a.btn.btn-outline-danger.need-confirm-btn(href=`/tours/${tour.id}?_method=delete`) Delete
      
    if tour.numAnswers > 0
      hr
      h3 #{tour.numAnswers} Answer(s)
      .answers.show
        each answer in answers
          include _answer

    form(action=`/tours/${tour.id}/answers`, method='POST')
      .form-group
        label(for='answer') Your Answer
        textarea.form-control(name="content", rows="5")
      button.btn.btn-primary(type="submit") Post Your Answer

